@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Hola esta es mi prueba de conexiones iniciales para mi proyecto terminal para un consultorio dental llamado MiPruebaWeb!</h1>
    <p>Esta es mi primera página modificada en ASP.NET Core MVC. y mi base de datos Sql Server </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core MDF!</a>.</p>
</div>
